/* Unessential CSS - Just here to make this sample page prettier */


.rm-nav {
    letter-spacing: 1px;
	font-weight:bold;
}

.rm-toggle.rm-button {
    margin-top: 25px;
}

.rm-css-animate.rm-menu-expanded {
    max-height: none;
    display: block;
}
.rm-container.rm-layout-expanded {
    float: right;
}
.rm-nav li a,
.rm-top-menu a {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5rem;
    text-transform: none;
}
.rm-layout-expanded .rm-nav > ul > li > a,
.rm-layout-expanded .rm-top-menu > .rm-menu-item > a {
    height: 50px;
    line-height: 30px;
	padding:10px;
	margin-top:20px;
}

